# Python bytecode
__pycache__/
*.py[cod]

# Virtual environment
venv/
env/
ENV/

# Distribution / packaging
*.egg-info/
dist/
build/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Pytest cache
.pytest_cache/

# mypy
.mypy_cache/

model.*